@import 'tailwindcss';

html,
body,
#root {
  @apply h-full min-h-screen bg-gray-900 text-gray-100 font-sans antialiased;
}

::selection {
  @apply bg-indigo-500 text-gray-100;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}
body::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

input,
textarea,
select,
input:focus,
textarea:focus,
select:focus {
  @apply ring-2 ring-indigo-500;
}
